body{
    background-color: #39b54a;
}

header, aside, .content, .empty_body, footer{

    box-sizing: border-box;
}

header{
    background: #eeeeee;
       width: 100%;
       height:10%;
    text-align: center;
    border: 1px solid #ddd;
    
}

aside{
    
    width: 22%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #ddd;
    float: right;
    padding: 5px;
    
}

.content{
    width: 78%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    float: left;
    overflow:auto;
}

.empty_body{
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #eeeeee;
    padding: 10px;
}

footer{
    left: 0;
    bottom: 0;
    padding: 10px;
    background: #39b54a;
    color: #fff;
    width: 100%;
    height: 1%;
    font-size: 70%;

}


table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid #ddd;   
    text-align: center;
    
    padding: 3px;
}

tr:hover {background-color: #f5f5f5}

th {
    background-color: #39b54a;
    color: white;
    
}

.btns{
    float:right;
    width: 10%;
    
}